.product {
  margin: 0;
  overflow: auto;
}

.paper-shadow-top-z-1 {
  box-shadow: 0 2px 10px 0 rgb(0 0 0 / 16%);
  margin: 0px 0px 1.5em !important;
}

.caption h3 {
  height: 50px !important;
}

.thumbnail .caption {
  height: 130px !important;
}

.product__price {
  display: inline-block;
  line-height: 34px;
}

.product__button-wrap {
  float: right;
}
